/vendor
/node_modules
/public/build
/public/storage
/.idea
/.vscode
/.fleet
/.env
/.env.backup
/.phpunit.cache
/storage/*.key
/storage/app/private/livewire-tmp/*
/storage/app/public/*
/storage/framework/cache/data/*
/bootstrap/cache/*.php
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/database/*.sqlite
npm-debug.log
yarn-error.log
